body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  body {
    background-color: rgb(106, 90, 205);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
      
  }
  
  @media only screen and (min-width: 300px) {
    body {
      background-color: rgb(199, 56, 56);
      color: white;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
  }
  
  
    p {
      display: none;
    }
  

  .container {
    display: flex;
  }
  .item {
    
    width: 100%;
    margin: 10px;
    padding: 20px;
    text-align: center;
  }


  .flex-container > div {
   
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-container-wrap {
    display: flex;
    flex-wrap: wrap;
    
  }

  
  #quadrado{
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  @keyframes rotate {
    0% {
      background-color: red;
      left: 0px;
      top: 0px;
    }
    50% {
      background-color: yellow;
      left: 200px;
      top: 0px;
      ;
    }
    100% {
      background-color: rgb(52, 93, 60);
      left: 200px;
      top: 0px;
      transform: rotate(90deg);
    }
    
  }
  
